In [11]:
import re 
import string

import pandas as pd
import numpy as np

In [31]:
data_path = '../data/raw/Bitcoin_submissions.csv'
df = pd.read_csv(data_path)

In [32]:
df.head(2)

,ups,retrieved_on,selftext,media,link_flair_text,permalink,title,secure_media_embed,downs,thumbnail,...,airgapt,t3_ko88sn,Unnamed: 65,0,False.4,ko88sn,4,noob,Unnamed: 71,False.5
0,NaN,NaN,[removed],NaN,NaN,/r/Bitcoin/comments/ko88ae/mine_from_your_phone/,Mine from your phone,{},NaN,default,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,[deleted],NaN,NaN,/r/Bitcoin/comments/ko885j/this_is_the_newest_...,This is the newest project of him?,{},NaN,default,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
def clean_text(text):
    ## AI generate for (re).
    if isinstance(text, str):  # check if text is a string
        text = text.lower()  # convert text to lower case
        text = re.sub(r'\[.*?\]', '', text)  # remove text in square brackets
        text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)  # remove punctuation
        text = re.sub(r'\w*\d\w*', '', text)  # remove words containing numbers
        return text
    else:
        return ""

In [34]:
df['cleaned_text'] = df['selftext'].apply(lambda x: clean_text(x))
df['title'] = df['title'].apply(clean_text)
df['date'] = pd.to_datetime(df.created_utc, unit='s').dt.date

In [27]:
df = df[['cleaned_text', 'title', 'date']] # Save the neccessary features only for Sentiment analysis.
df.head()

,cleaned_text,title,date
0,,mine from your phone,2021-01-01
1,,this is the newest project of him,2021-01-01
2,,mine from your phone,2021-01-01
3,i have a amd ryzen thread ripper a core proce...,how much money can i make mining bitcoin,2021-01-01
4,happy new year ðŸŽŠ my btc hodlers ðŸš€ðŸŒš,bitcoin year,2021-01-01

Saving the cleaned data

In [29]:
df.to_csv('../data/processed/Bitcoin_cleaned.csv', index=False)